/* Main section */

.section-main {
	display: flex;
	justify-content:center;
	width: 100%;
	left: 0px;
	top: 0px;
	background-image: url("../images/background.png");
	color: #FFFFFF;
	min-height: 800px;

}

.main-content {
	width: 85%;
	padding-top: 24px;
}


/* Main menu */

.main-menu {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.main-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 40px;

	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.main-links a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Title and description */

.main-info {
	display: flex;
	height: 100%;
}

.main-info-text {
	width: 60%;
}

.main-info-text h1 {
	margin: 100px 0 30px 0;
	width: 100%;
}

.main-info-text p {
	margin: 0 0 50px 0;
	width: 500px;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}


/* Buttons */

.main-info-buttons {
	display: inline-flex;
	gap: 10px;
}

.main-info-buttons button {
	width: 184px;
	height: 44px;

	font-style: normal;
	font-weight: 600;
	line-height: 140%;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #FFFFFF;
}

.info-button-1 {
	background: #AB242F;
	border: 1px solid #AB242F;	
}

.info-button-2 {
	border: 1px solid #BBBBBB;
	background-color: transparent;
}


/* Main images */

.main-info-img {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 40%;
}

.main-info-img img {

}

.img-small-main {
	position: absolute;
	left: 0px;
	top: 225px;
}

.img-medium-main {
	position: absolute;
	left: -19px;
	top: 315px;
	z-index: 1000;
}

.img-big-main {
	width: auto;
	height: min-content;
	padding-top: 50px;
}



/* Reasons section */

.section-reasons {
	display: flex;
	justify-content: flex-end;
}

.reasons-content {
	width: 92.5%;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 184px 0;
}

/* Reason text */

.reasons-aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reasons-text {
	width: 100%;
	padding-right: 4%;
}

.reasons-text h2 {
	margin: 0 0 40px 0;
}

#reasons-summary-1, #reasons-summary-2 {
	margin-top: 96px;
}

/* #reasons-summary-2 {
	width: 408px;
} */


/* Course section */

.section-course {
	display: flex;
	justify-content: center;
}

.course-content {
	padding: 184px 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

/* First block of Course section */

.course-1 {
	margin-left: 7.5%;
	display: flex;
	justify-content: flex-end;
/* 	background-color: #EEEEEE; */
}

.course-1-text {
	width: 45%;
	padding-right: 7.5%;
}

.course-1-details {
	width: 55%;
	max-height: 566px;
	background-image: url('../images/img-course-1.png');
	background-repeat: no-repeat;

}

.details-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 3.25rem;
 }

.details-text {
	display: flex;
	flex-direction: row;
	gap: 3.125rem;
	padding: ;

	color: #FFFFFF;
}

.details-text p:last-child {
	margin: 0 0 24px 0;
}

.details-content h3 {
	color: #FFFFFF;
	margin: 0 0 24px 0;
}

.details-content button {
	margin-top: 24px;
}

.details-text p, h6 {
	margin:  0;
}

.details-text-obj-col-1 {
	width: 55%;
}

.details-text-obj-col-2 {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Second block of Course section */

.course-2 {
	display: flex;
	flex-direction: row;
}

.course-2-img {
	background-image: url("../images/img-course-2.png");
	width: 60%;
	height: 526px;
	position: relative;

}

.course-2-text-head {
	position: relative;
	height: 12rem;

	display: flex;
	flex-direction: row;
}

.course-2-text-head .text-black {
	position: absolute;
	width: 390px;
	left: -3rem;
    top: 40%;
}

.course-2-img h2 {
	color: #FFFFFF;
	position: absolute;
	width: 230px;
    right: 1rem;
    top: 14%;
}

.course-2-text {
	width: 40%;
	padding: 0 6%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.course-2-content {
	display: flex;
	flex-direction: column;
}

.course-2-content p:last-child {
	font-weight: 500;
}


/* Third block of Course section */

.course-3 {
	width: 100%;

	display: flex;
	justify-content: center;
}

.course-3-content {
	width: 85%;
	display: flex;
	margin-top: 72px;
}

.course-3-content {
	display: flex;
	gap: 24px;
}

.course-3-obj {
	background: #EEEEEE;
	padding: 40px 40px 48px;
	margin: 0;
	width: -webkit-fill-available;
}

.course-3-content ul {
	padding-left: 30px;
}

.course-3-content lu {
	line-height: 140%;
}

.course-3-content h3 {
	margin-bottom: 24px;
}


/* Section why */

.section-why {
	padding: 184px 0;
	display: flex;
	justify-content: center;
	background-color: #EEEEEE;
}

.why-content {
	display: flex;
	flex-direction: column;
	width: 85%;
}

.why-head {
	display: flex;
	gap: 78px;
	align-items: center;
}

.why-head p {
	width: 35%;
}

.why-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	column-gap: 10%;
	width: 100%;
	margin-top: 56px;
}

.why-body-col-1, .why-body-col-2 {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.why-body-col-1 {
	width:  40%;
}

.why-body-col-2 {
	width:  50%
}

.why-body-obj {
	margin: 0;
	display: flex;
	gap: 24px;
	width: 100%;
}

.why-body-obj p {
	margin: 12px 0 0 0;
}

.why-body-text {
	width: 90%;
}

.why-body-img-1 {
	background-image: url('../images/img-why-1.png');
}

.why-body-img-2 {
	background-image: url('../images/img-why-2.png');
}

.why-body-img-3 {
	background-image: url('../images/img-why-3.png');
}

.why-body-img-4 {
	background-image: url('../images/img-why-4.png');
}

.why-body-img-5 {
	background-image: url('../images/img-why-5.png');
}

.why-body-img-1, .why-body-img-2, .why-body-img-3, .why-body-img-4, .why-body-img-5 {
	background-size: 55px;
	background-repeat: no-repeat;
	width: 55px;
	height:  55px;
}


/* Section what */

.section-what {
	display: flex;
	justify-content: flex-end;
}

.what-content {
	padding: 184px 0;
	width: 92.5%;

	display: flex;
	flex-direction: column;
}

.what-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 40px;
}

.what-content h2 {
	margin: 0;
	width: 50%;
}

.what-content-text {
	display: flex;
	gap: 10%;
}

.what-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.what-list-obj {
	width: 100%;
	background-color: #EEEEEE;
	margin: 0;
	padding: 24px;
}

.what-list-obj p {
	margin: 0;

	font-weight: 400;
	font-size: 12px;
	line-height: 140%;

	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #2B2B2B;
}

.what-list-obj h6 {
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
}

.what-modules {
	width: 35%;
}

.what-content .border {
	width: 61%;
}

.what-info {
	width: 40%;
}

.what-info-obj {
	width: 80%;
	background-color: #EEEEEE;
	opacity: 0.6;

	padding: 32px 64px;
	margin: 0;
}

.what-info-obj ul {
	margin: 0;
	padding: 20px;
}

.info-ms {
	background-color: #AB242F;
	width: 80%;
	margin: 0;
	padding: 32px 64px;
}

.info-ms p {
	margin: 0;
	color: #FFFFFF;
}


/* Section black */

.section-adInfo {
	width: 100%;
	height: 476px;
	background: #1D1C1A;

	display: flex;
	flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    color: #FFFFFF;
}

.section-adInfo h2 {
	width: 747px;
	margin: 0 0 50px 0;
	text-align: center;
}


/* Section support */

.section-support {
	padding: 184px 0;

	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.support-content {
	width: 92.5%;
}

.support-head {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.support-head h2 {
	width: 60%;
}

.support-head-border {
	height: 2px;
	display: flex;
	width: 65%;
    border-bottom: 2px solid #AB242F;
}

.support-info {
	display: flex;
	justify-content: space-between;
}

.support-info p {
	margin: 0;
	font-size: 20px;
	width: 35%;
}

.support-companies {
	display: flex;
	flex-direction: column;
	width: 55%;
	padding-right: 5%;
	gap: 48px;
}

.companies-obj {
	display: flex;
	flex-direction: row;
	gap: 25px;
	margin: 0;
}

.companies-obj-img {
	width: 95px;
	height: 24px;
}

.companies-obj:nth-child(1) {
	background-image: url('../images/img-support-1.png');
	background-repeat: no-repeat;
}

.companies-obj:nth-child(2) {
	background-image: url('../images/img-support-2.png');
	background-repeat: no-repeat;
}

.companies-obj p {
	width: 589px;
	font-size: 16px;
	margin: 0;
}


.support-response {
	margin: 96px 0 0 0;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 84px;
}

.response-obj {
	height: 100%;
	margin: 0;
	position: relative;
}

.response-obj-content {
	padding: 32px 72px;
	background: #EEEEEE;
	position: relative;
}

/* responses */

/* .support-response .response-2 .response-obj {
	width: 70%;
}
 */
.response-1 {
	width: 50%;
	height: 100%;
}

.response-img {
	width: 108px;
	height: 108px;
	
	position: absolute;
	left: -60px;
}

.response-obj:nth-child(1) .response-img {
	background-image: url('../images/img-response-1.png');
}

.response-2 .response-obj .response-img {
	background-image: url('../images/img-response-2.png');
}

.response-name {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;

	text-transform: uppercase;
	color: #1D1C1A;

	margin: 0;
}

.response-job {
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;

	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #2B2B2B;

	margin: 0;
	position: relative;
}

.response-body {
	color: #2B2B2B;
}

.response-2 {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
}

.response-2 .response-obj {
	width: 80%;
}

.response-border {
	position: relative;
	height: 20%;
}

.support-response-border {
	position: absolute;
	bottom: 0;
	width: 80%;
    border-bottom: 2px solid #AB242F;
}

/* Section online */

.section-online {
	display: flex;
	justify-content: center;

	margin-bottom: 184px;
}

.online-content {
	width: 85%;
}

.online-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.online-head h2 {
	margin: 0;
	width: 620px;
}

.online-head p {
	margin: 0;
	width: 450px;
}

.online-head a {
	font-weight: 500;
	font-size: 16px;
	text-decoration-line: underline;
	color: #1D1C1A;
}

.online-img {
	margin: 56px 0;
	width: 100%;
	height: 300px;
	background-image: url('../images/img-online.png');
}

.online-info {
	display: flex;
	gap: 64px;
	justify-content: space-between;
}

.online-obj:nth-child(1) {
	width: 408px;
}

.online-obj:nth-child(2) {
	width: 496px;
}

.online-obj {
	margin: 0;
}

.online-obj ul {
	padding-left: 20px;
}

.online-info h3 {
	margin: 0 0 24px 0;
	letter-spacing: 0.1em;
}



/* Section enrolment */


.enrolment-content {
	width: 100%;
	height: 586px;
	background-image: url('../images/img-enrolment.png');

	display: flex;
	justify-content: center;
    align-items: center;

	color: #EEEEEE;
}

.enrolment-content p {
	font-size: 20px;
	margin: 0 0 24px 0;
}

.enrolment-photo {
	height: 100%;
	width: 400px;
}

.enrolment-photo-small {
	background-image: url('../images/img-enrolment-small.png');
	width: 113px;
	height: 113px;

	position: absolute;
	left: 107px;
	top: 330px;
}

.enrolment-photo-big {
	background-image: url('../images/img-enrolment-big.png');
	width: 218px;
	height: 218px;

	position: absolute;
	left: 236px;
	top: 184px;
}

.enrolment-photo {
	position: relative;
}











/* Footer */

footer {
	height: 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	background: #2B2B2B;
}

footer h3 {
	margin: 0;
	font-size: 20px;
	letter-spacing: 0.16em;
	color: #BBBBBB;
}





@media only screen and (min-width: 992px) {
	
}















